<div class="comments-section">
  <!-- Selector de nivel de comentario (Expediente o Documento) -->

  <div>
    <div class="comment-level-toggle">
      <button
        [class.active]="commentLevel === 'archive'"
        (click)="setCommentLevel('archive')"
      >
        Expediente
      </button>
      <button
        [class.active]="commentLevel === 'document'"
        (click)="setCommentLevel('document')"
        [disabled]="!documentSelected"
      >
        Documento
      </button>
    </div>

    <!-- Dropdown Checkbox Filter Menu -->
    <div class="filter-dropdown">
      <button (click)="toggleDropdown()" class="dropdown-button">Filtro</button>
      <div class="dropdown-content" [class.show]="dropdownOpen">
        <div>
          <input
            id="check-comments"
            type="checkbox"
            (change)="toggleViewOption('comments')"
            [checked]="viewComments"
          />
          <label for="check-comments">Ver comentarios</label>
        </div>
        <div>
          <input
            id="check-events"
            type="checkbox"
            (change)="toggleViewOption('events')"
            [checked]="viewEvents"
          />
          <label for="check-events">Ver eventos</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de comentarios y eventos -->
  <div class="comment-list" *ngIf="filteredCommentsAndEvents.length > 0">
    <div class="comment-item" *ngFor="let item of filteredCommentsAndEvents">
      <div
        *ngIf="item.text && viewComments"
        [class]="item.isOwnComment ? 'bubble own' : 'bubble'"
      >
        <p>
          <strong>{{ item.username }}:</strong> {{ item.text }}
        </p>
        <span class="comment-date">{{ item.ctime | date : "short" }}</span>
      </div>
      <div *ngIf="!item.text && viewEvents" class="event-bubble">
        <p>
          <strong>{{ item.username }}</strong> realizó
          <strong>{{ item.action }}</strong> sobre
          <em>{{ item.object }}</em> (ID: <em>{{ item.object_id }}</em
          >)
        </p>
        <span class="event-date">{{ item.timestamp | date : "short" }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="filteredCommentsAndEvents.length === 0">
    <p>No hay comentarios o eventos</p>
  </div>

  <!-- Área de input para agregar un comentario -->
  <div class="comment-input">
    <textarea
      [(ngModel)]="newComment"
      placeholder="Agregar comentario..."
    ></textarea>
    <button (click)="addComment()">Enviar</button>
  </div>
</div>
