<div class="users-container">
  <header>
    <h1>{{ "users:title" | translate }}</h1>
  </header>
  <button class="add-user-button" (click)="addUser()">
    <i class="fa-solid fa-plus"></i> {{ "users:add_user" | translate }}
  </button>

  <input
    type="text"
    [placeholder]="'users:search_placeholder' | translate"
    [(ngModel)]="searchTerm"
    class="search-input"
  />

  <table>
    <thead>
      <tr>
        <th>{{ "users:username" | translate }}</th>
        <th>{{ "users:password" | translate }}</th>
        <th>{{ "users:role" | translate }}</th>
        <th>{{ "users:actions" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers(); let i = index">
        <td>{{ user.username }}</td>
        <td class="password-col">
          <span>{{
            showPassword[i] ? user.password : "••••••••••••••••"
          }}</span>
          <i
            class="fa-solid"
            [class.fa-eye]="!showPassword[i]"
            [class.fa-eye-slash]="showPassword[i]"
            (click)="togglePasswordVisibility(i)"
          ></i>
        </td>
        <td>{{ user.role }}</td>
        <td>
          <div class="actions-buttons">
            <button class="edit" (click)="editUser(user)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="delete" (click)="deleteUser(user)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
