<div class="master">
  <div class="head">
    <h1>{{ "file_entry:title" | translate }}</h1>
  </div>
  <section>
    <form [formGroup]="form" class="form-class" method="post">
      <div class="project-name">
        <label for="proyect" class="project-label">{{
          "file_entry:project_label" | translate
        }}</label>
        <select id="proyect" formControlName="project" class="project-select">
          <!-- Opciones -->
        </select>
      </div>

      <div class="form-container">
        <div class="attribute-form">
          <label for="idLiquidacion" class="form-label">{{
            "file_entry:id_liquidacion" | translate
          }}</label>
          <input
            type="text"
            id="idLiquidacion"
            formControlName="idLiquidacion"
            class="input-line"
          />
        </div>

        <div class="attribute-form">
          <label for="nombre" class="form-label">{{
            "file_entry:nombre" | translate
          }}</label>
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            class="input-line"
          />
        </div>

        <div class="attribute-form">
          <label for="transaccion" class="form-label">{{
            "file_entry:transaccion" | translate
          }}</label>
          <input
            type="text"
            id="transaccion"
            formControlName="transaccion"
            class="input-line"
          />
        </div>

        <div class="attribute-form">
          <label for="departamento" class="form-label">{{
            "file_entry:departamento" | translate
          }}</label>
          <input
            type="text"
            id="departamento"
            formControlName="departamento"
            class="input-line"
          />
        </div>

        <div class="attribute-form">
          <label for="fecha" class="form-label">{{
            "file_entry:fecha" | translate
          }}</label>
          <input
            type="date"
            id="fecha"
            formControlName="fecha"
            class="input-line"
          />
        </div>

        <div class="attribute-form">
          <label for="status" class="form-label">{{
            "file_entry:status" | translate
          }}</label>
          <select id="status" formControlName="status" class="input-line">
            <!-- Opciones -->
          </select>
        </div>

        <!-- Sección de estado del documento y subida -->
        <div class="upload-section">
          <label for="file" class="form-label">{{
            "file_entry:document_status" | translate
          }}</label>
          <div class="file-upload-container">
            <p>{{ "file_entry:no_documents" | translate }}</p>
            <div class="upload-button" (click)="navigateToUpload()">
              {{ "file_entry:upload" | translate }}
              <i class="fa-solid fa-upload"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="navigation-buttons">
        <button class="submit-btn" type="submit">
          {{ "file_entry:save_button" | translate }}
        </button>
        <button class="cancel-btn" type="button">
          {{ "file_entry:cancel_button" | translate }}
        </button>
      </div>
    </form>
  </section>
</div>
