<!-- Modal for Error Message -->
<div *ngIf="errorMessage" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="errorMessage = null">&times;</span>
    <p>{{ "file_entry:form_incomplete" | translate }}</p>
    <button class="ok-button" (click)="errorMessage = null">
      {{ "file_entry:ok_button" | translate }}
    </button>
  </div>
</div>

<div class="master">
  <div class="head">
    <h1>{{ "file_entry:title" | translate }}</h1>
  </div>
  <section>
    <form [formGroup]="form" class="form-class" method="post">
      <div class="project-name">
        <label for="proyect" class="project-label">{{
          "file_entry:project_label" | translate
        }}</label>
        <select
          id="proyect"
          formControlName="project"
          class="project-select"
          required
        >
          <option value="1">{{ "project:option1" | translate }}</option>
          <option value="2">{{ "project:option2" | translate }}</option>
          <option value="3">{{ "project:option3" | translate }}</option>
        </select>
        <small
          class="error-message-project"
          *ngIf="form.get('project')?.invalid && form.get('project')?.touched"
        >
          {{ "file_entry:required" | translate }}
        </small>
      </div>

      <div class="form-container">
        <div class="attribute-form">
          <label for="idLiquidacion" class="form-label">{{
            "file_entry:id_liquidacion" | translate
          }}</label>
          <input
            type="text"
            id="idLiquidacion"
            formControlName="idLiquidacion"
            class="input-line"
            required
          />
          <small
            class="error-message"
            *ngIf="
              form.get('idLiquidacion')?.invalid &&
              form.get('idLiquidacion')?.touched
            "
          >
            {{ "file_entry:required" | translate }}
          </small>
        </div>

        <div class="attribute-form">
          <label for="nombre" class="form-label">{{
            "file_entry:nombre" | translate
          }}</label>
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            class="input-line"
            required
          />
          <small
            class="error-message"
            *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
          >
            {{ "file_entry:required" | translate }}
          </small>
        </div>

        <div class="attribute-form">
          <label for="transaccion" class="form-label">{{
            "file_entry:transaccion" | translate
          }}</label>
          <input
            type="text"
            id="transaccion"
            formControlName="transaccion"
            class="input-line"
            required
          />
          <small
            class="error-message"
            *ngIf="
              form.get('transaccion')?.invalid &&
              form.get('transaccion')?.touched
            "
          >
            {{ "file_entry:required" | translate }}
          </small>
        </div>

        <div class="attribute-form">
          <label for="departamento" class="form-label">{{
            "file_entry:departamento" | translate
          }}</label>
          <input
            type="text"
            id="departamento"
            formControlName="departamento"
            class="input-line"
            required
          />
          <small
            class="error-message"
            *ngIf="
              form.get('departamento')?.invalid &&
              form.get('departamento')?.touched
            "
          >
            {{ "file_entry:required" | translate }}
          </small>
        </div>

        <div class="attribute-form">
          <label for="fecha" class="form-label">{{
            "file_entry:fecha" | translate
          }}</label>
          <input
            type="date"
            id="fecha"
            formControlName="fecha"
            class="input-line"
            required
          />
          <small
            class="error-message"
            *ngIf="form.get('fecha')?.invalid && form.get('fecha')?.touched"
          >
            {{ "file_entry:required" | translate }}
          </small>
        </div>

        <div class="attribute-form">
          <label for="status" class="form-label">{{
            "file_entry:status" | translate
          }}</label>
          <select
            id="status"
            formControlName="status"
            class="input-line"
            required
          >
            <option value="1">{{ "status:option1" | translate }}</option>
            <option value="2">{{ "status:option2" | translate }}</option>
            <option value="3">{{ "status:option3" | translate }}</option>
          </select>
          <small
            class="error-message"
            *ngIf="form.get('status')?.invalid && form.get('status')?.touched"
          >
            {{ "file_entry:required" | translate }}
          </small>
        </div>

        <!-- Sección de estado del documento y subida -->
        <div class="upload-section">
          <label for="file" class="form-label">{{
            "file_entry:document_status" | translate
          }}</label>
          <div
            *ngIf="uploadedFileName; else noFileUploaded"
            class="file-upload-container"
          >
            <p>{{ uploadedFileName }}</p>
            <i class="fa-solid fa-check"></i>
          </div>
          <ng-template #noFileUploaded>
            <div class="file-upload-container">
              <p>{{ "file_entry:no_documents" | translate }}</p>
              <div class="upload-button" (click)="navigateToUpload()">
                {{ "file_entry:upload" | translate }}
                <i class="fa-solid fa-upload"></i>
              </div>
            </div>
          </ng-template>
          <small class="error-message" *ngIf="!uploadedFileName">
            {{ "file_entry:document_required" | translate }}
          </small>
        </div>
      </div>

      <div class="navigation-buttons">
        <button class="submit-btn" type="button" (click)="onSave()">
          {{ "file_entry:save_button" | translate }}
        </button>
        <button class="cancel-btn" type="button">
          {{ "file_entry:cancel_button" | translate }}
        </button>
      </div>
    </form>
  </section>
</div>
