/* Cubre toda la pantalla */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
}

/* Contenido del modal */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f7f7f7;
}

.modal-header .modal-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.modal-header .btn-close {
  display: inline-block;
  height: 1em;
  color: #000;
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 1;
}

.modal-header .btn-close:hover {
  color: #000;
  opacity: 0.75;
}

.modal-body {
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.form-label {
  display: block;
  margin-top: 0.5rem;
  font-weight: 500;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal-footer {
  display: flex;
  justify-content: space-between; /* Distribuye los botones a los lados opuestos */
  padding: 1rem;
  border-top: 1px solid #e5e5e5;
}

/* Botón Cancelar */
button.cancel-button {
  padding: 8px 20px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.cancel-button:hover {
  background-color: #c82333;
}

/* Botón Agregar o Guardar */
button.add-user-button {
  padding: 8px 20px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.add-user-button:hover {
  background-color: #218838;
}

/* Aquí puedes reutilizar el estilo de la alerta personalizada */

/* Ajuste del tamaño de las alertas */
.alert {
  background: #f8d7da;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-left: 5px solid #f5c6cb;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacia los elementos hacia los lados opuestos */
}

.alert .msg {
  flex-grow: 1;
}

.alert .close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #721c24;
  font-size: 16px;
  padding: 0;
  margin-left: auto; /* Mueve el botón de cierre hacia la derecha */
}

.alert .close-btn:hover {
  color: #491217;
}

.alert .close-btn .fas {
  font-size: 20px;
}


.alert {
  background: #f8d7da;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-left: 5px solid #f5c6cb;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacia los elementos hacia los lados opuestos */
}

/* Modificación de la alerta superior para que no sea tan grande */
.alert.showAlert {
  display: flex;
  font-size: 14px;
  padding: 8px 15px;
}

.alert.hide {
  display: none;
}

/* Estilo del dropdown */
select.form-control {
  appearance: none; /* Remueve el estilo nativo del navegador */
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

select.form-control option {
  padding: 0.5rem;
  background-color: white;
  color: black;
}

select.form-control option:hover {
  background-color: #e9ecef;
}


.index-scroll-container {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 1rem;
}


