.viewer-container {
  display: flex;
  height: 100vh;
  position: relative; /* Posiciona el botón relativo al contenedor */
}

.back-button {
  position: absolute;
  top: 0px; /* Ajusta para que quede en la esquina superior */
  left: 0px; /* Ajusta para que quede en la esquina izquierda */
  padding: 5px; /* Botón más pequeño */
  border: none;
  background-color: #F1842C;
  color: white;
  border-radius: 50%; /* Botón redondo para un estilo minimalista */
  cursor: pointer;
  font-size: 12px; /* Tamaño de fuente más pequeño */
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button i {
  margin: 0;
  font-size: 12px; /* Ajusta el tamaño del icono */
}

.back-button:hover {
  background-color: #0056b3;
}

.file-tree-container {
  width: 35%;
  border-right: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
  background-color: #f8f9fa;
  transition: width 0.3s ease;
}

.file-display-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.document-header {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #333;
}

ngx-doc-viewer {
  width: 100%;
  height: 85vh;
  border: none;
}
