.result-criteria {
    padding: 20px;
  }
  
  .result-criteria table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .result-criteria th, .result-criteria td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centramos el contenido de las columnas */
    vertical-align: middle; /* Alineamos verticalmente al centro */
  }
  
  .result-criteria th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .result-criteria td input[type="checkbox"] {
    margin: 0;
  }
  
  .result-criteria td button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-search {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Borde con radio */
  }
  
  .button-search:hover {
    background-color: #444;
  }
  
  .status {
    display: inline-block; /* Asegura que el elemento se considere para el tamaño */
    width: 100px; /* Establece un ancho fijo */
    text-align: center; /* Alinea el texto al centro */
  }

  .approved {
    color: #093E8C; /* Color de texto */
    background-color: #D0F4FF; /* Color de fondo */
    padding: 5px;
    border-radius: 5px;
  }
  
  .pending {
    color: #8B5401; /* Color de texto */
    background-color: #FBF5C4; /* Color de fondo */
    padding: 5px;
    border-radius: 5px;
  }
  
  .not-started {
    color: #8C0909; /* Color de texto */
    background-color: #FFDFDF; /* Color de fondo */
    padding: 5px;
    border-radius: 5px;
  }
  