.upload-document-container {
  padding: 20px;
}

.upload-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.upload-box {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.drag-drop {
  width: 48%;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-label {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.upload-placeholder {
  font-size: 16px;
  color: #757575;
}

.file-preview {
  font-size: 16px;
  color: #000;
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview-document {
  width: 48%;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.save-button:hover {
  background-color: #218838;
}

.back-button {
  background-color: #6c757d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;

}

.back-button:hover {
  background-color: #5a6268;
}
