.upload-document-container {
  padding: 20px;
}

.upload-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.upload-box {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas o columnas si es necesario */
}

.drag-drop {
  width: 48%;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-document {
  width: 48%; /* Mantiene el 48% para que esté en línea con drag-drop */
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  overflow: hidden;
}

.file-name-input-container {
  margin-top: 20px;
  width: 100%; /* El input toma todo el ancho disponible */
  display: flex;
  flex-direction: column;
}

.file-name-label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.file-name-input {
  width: 100%; /* Asegura que el input ocupe todo el ancho */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.save-button:hover {
  background-color: #218838;
}

.back-button {
  background-color: #6c757d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
}

.back-button:hover {
  background-color: #5a6268;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .upload-box {
    flex-direction: column; /* En pantallas pequeñas, mostrar en columnas */
  }

  .drag-drop, .preview-document {
    width: 100%; /* Los elementos ocupan el 100% del ancho en pantallas pequeñas */
  }
}
