/* Estilos Generales */
.roles-container {
  padding: 20px;
}

.roles-container i {
  margin-right: 5px !important;
}

/* Título de la sección */
.roles-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para botón de Agregar */
.add-role-button {
  float: right;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  z-index: 2;
}

.add-role-button:hover {
  background-color: #218838;
}

/* Buscador */
.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
  clear: both;
}

.search-input {
  background: url('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png')
    no-repeat 10px 10px;
  background-size: 20px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.search-input:focus {
  outline: none;
  border-color: #F1842C;
}

/* Estilos para Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

td:last-child {
  text-align: center;
  vertical-align: middle; /* Centrar el contenido verticalmente */
  height: 50px; /* Asegurar una altura mínima consistente */
}

th {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

th i {
  margin-left: 5px;
}

/* Estilos para botones */
.actions-buttons {
  display: flex; /* Coloca los botones en línea */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
  gap: 10px; /* Espaciado entre los botones */
  height: 100%; /* Asegura que los botones ocupen el alto disponible */
}

button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

button.edit {
  background-color: #343a40;
  color: white;
}

button.edit:hover {
  background-color: #23272b;
}

button.delete {
  background-color: #dc3545;
  color: white;
}

button.delete:hover {
  background-color: #c82333;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Estilo general de la tabla */
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo para filas deshabilitadas */
tr.disabled {
  background-color: #e0e0e0;
  opacity: 0.6;
  pointer-events: none;
}

/* Estilos para la paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #F1842C;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.pagination-button:hover {
  background-color: #ce7125;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.pagination-button i {
  margin: 0;
}
