<app-alert
  *ngIf="alertVisible"
  [title]="alertTitle"
  [message]="alertMessage"
  [alertType]="alertType"
  [iconType]="alertIcon"
  (closed)="handleAlertClosed()"
></app-alert>

<div class="roles-container">
  <header>
    <h2 class="roles-title">{{ "roles:title" | translate }}</h2>
  </header>
  <button class="add-role-button" (click)="addRole()">
    <i class="fa-solid fa-plus"></i> {{ "roles:add_role" | translate }}
  </button>

  <!-- Buscador -->
  <div class="search-container">
    <input
      type="text"
      placeholder="{{ 'roles:search_placeholder' | translate }}"
      [(ngModel)]="searchTerm"
      class="search-input"
    />
  </div>

   <!-- Controles de Paginación -->
   <div class="pagination-container">
    <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="pagination-info">
      {{ "pagination:page" | translate }} {{ currentPage }} {{ "pagination:of" | translate }} {{ totalPages() }}
    </span>
    <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage >= totalPages()">
       <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <!-- Tabla de Roles -->
  <table>
    <thead>
      <tr>
        <th (click)="sortBy('role_name')">
          {{ "roles:role_name" | translate }}
          <i class="fa" [ngClass]="getSortIcon('role_name')"></i>
        </th>
        <th (click)="sortBy('description')">
          {{ "roles:description" | translate }}
          <i class="fa" [ngClass]="getSortIcon('description')"></i>
        </th>
        <th>
          {{ "roles:actions" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let role of filteredRoles()"
        [class.disabled]="
          role.role_name === 'ADMIN' || role.role_name === 'ADMIN JUNIOR'
        "
      >
        <td>{{ role.role_name }}</td>
        <td>{{ role.description }}</td>
        <td>
          <div class="actions-buttons">
            <button
              class="edit"
              (click)="editRole(role)"
              [disabled]="
                role.role_name === 'ADMIN' || role.role_name === 'ADMIN JUNIOR'
              "
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              class="delete"
              (click)="deleteRole(role)"
              [disabled]="
                role.role_name === 'ADMIN' || role.role_name === 'ADMIN JUNIOR'
              "
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de Paginación -->
  <div class="pagination-container">
    <button class="pagination-button" (click)="previousPage()" [disabled]="currentPage === 1">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <span class="pagination-info">
      {{ "pagination:page" | translate }} {{ currentPage }} {{ "pagination:of" | translate }} {{ totalPages() }}
    </span>
    <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage >= totalPages()">
       <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div>
