<app-alert
  *ngIf="alertVisible"
  [title]="alertTitle"
  [message]="alertMessage"
  [alertType]="alertType"
  [iconType]="alertIcon"
  (closed)="handleAlertClosed()">
</app-alert>

<div class="users-container">
  <header>
    <h1>{{ "users:title" | translate }}</h1>
  </header>
  <button class="add-user-button" (click)="addUser()">
    <i class="fa-solid fa-plus"></i> {{ "users:add_user" | translate }}
  </button>

  <input
    type="text"
    [placeholder]="'users:search_placeholder' | translate"
    [(ngModel)]="searchTerm"
    class="search-input"
  />

  <table>
    <thead>
      <tr>
        <th>{{ "users:username" | translate }}</th>
        <th>{{ "users:email" | translate }}</th>
        <th>{{ "users:role" | translate }}</th>
        <th>{{ "users:actions" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of filteredUsers(); let i = index"
        [class.disabled]="user.assigned_role === 'ADMIN'"
      >
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.assigned_role }}</td>
        <td>
          <div class="actions-buttons">
            <button class="edit" (click)="editUser(user)" [disabled]="user.assigned_role === 'ADMIN'">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="delete" (click)="deleteUser(user)" [disabled]="user.assigned_role === 'ADMIN'">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

