<div class="comments-section">
  <div class="comment-list" *ngIf="comments && comments.length > 0">
    <div class="comment-item" *ngFor="let comment of comments">
      <div [class]="comment.isOwnComment ? 'bubble own' : 'bubble'">
        <p>{{ comment.text }}</p>
        <span class="comment-date">{{ comment.date | date : "short" }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="comments.length === 0">
    <p>No comments yet.</p>
  </div>

  <!-- Comment input area always at the bottom -->
  <div class="comment-input">
    <textarea
      [(ngModel)]="newComment"
      placeholder="Add a comment..."
    ></textarea>
    <button (click)="addComment()">
      {{ "comments:post_comment" | translate }}
    </button>
  </div>
</div>
