.comments-section {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.comment-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.comment-input textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 10px;
  resize: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.comment-input button {
  margin-left: 8px;
  padding: 6px 12px;
  background-color: #ff4d00;
  color: white;
  width: 35%;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.2s;
}

.comment-input button:hover {
  background-color: #d76b00;
  transform: scale(1.05);
}

.comment-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.comment-item {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #e0e0e0;
  margin-bottom: 5px;
  position: relative;
  word-wrap: break-word;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.own {
  background-color: #ff4d00;
  color: white;
  align-self: flex-end;
  border: 1px solid #d76b00;
}

.event-bubble {
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffc107; /* Distinct background color for events */
  margin: 10px auto; /* Center the event bubble */
  position: relative;
  word-wrap: break-word;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text in the event bubble */
}

.comment-date, .event-date {
  font-size: 10px;
  color: #666;
  text-align: right;
  margin-top: 5px;
  display: block;
  opacity: 0.8;
}
