<div class="modal-overlay">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h5 class="modal-title">
        {{
          isEditMode
            ? ("roles-modal:edit_role" | translate)
            : ("roles-modal:add_role" | translate)
        }}
      </h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Alerta personalizada -->
    <div
      class="alert"
      [class.showAlert]="showWarningAlert"
      [class.hide]="!showWarningAlert"
    >
      <span class="msg">{{ alertMessage }}</span>
      <div class="close-btn" (click)="closeAlert()">
        <span class="fas fa-times"></span>
      </div>
    </div>

    <div class="modal-body">
      <form [formGroup]="roleForm">
        <div class="mb-3">
          <label for="role_name" class="form-label">{{
            "roles:role_name" | translate
          }}</label>
          <input
            id="role_name"
            formControlName="role_name"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              roleForm.get('role_name')?.hasError('required') &&
              roleForm.get('role_name')?.touched
            "
            class="alert"
          >
            {{ "roles:role_name_required" | translate }}
          </div>
          <div
            *ngIf="
              roleForm.get('role_name')?.hasError('adminNameNotAllowed') &&
              roleForm.get('role_name')?.touched
            "
            class="alert"
          >
            {{ "roles:role_name_admin_not_allowed" | translate }}
          </div>
          <div
            *ngIf="
              roleForm.get('role_name')?.hasError('duplicateName') &&
              roleForm.get('role_name')?.touched
            "
            class="alert"
          >
            {{ "roles:role_name_duplicate" | translate }}
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">{{
            "roles:description" | translate
          }}</label>
          <input
            id="description"
            formControlName="description"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="
              roleForm.get('description')?.hasError('required') &&
              roleForm.get('description')?.touched
            "
            class="alert"
          >
            {{ "roles:description_required" | translate }}
          </div>
          <div
            *ngIf="
              roleForm.get('description')?.hasError('maxlength') &&
              roleForm.get('description')?.touched
            "
            class="alert"
          >
            {{ "roles:description_maxlength" | translate }}
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">{{ "roles:privileges" | translate }}</label>
          <div class="form-check" *ngFor="let privilege of privileges; let i = index">
            <input
              type="checkbox"
              [formControl]="privilegesArray.controls[i]"
              class="form-check-input"
              id="privilege-{{ i }}"
            />
            <label for="privilege-{{ i }}" class="form-check-label">
              {{ privilege.description }}
            </label>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="cancel-button btn" (click)="close()">
        {{ "roles-modal:cancel" | translate }}
      </button>
      <button type="button" class="add-role-button btn" (click)="save()">
        {{
          isEditMode
            ? ("roles-modal:save_changes" | translate)
            : ("roles:add_role" | translate)
        }}
      </button>
    </div>
  </div>
</div>
