<div class="modal-overlay">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h5 class="modal-title">{{ isEditMode ? 'Editar Rol' : 'Agregar Rol' }}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Alerta personalizada -->
    <div class="alert" [class.showAlert]="showWarningAlert" [class.hide]="!showWarningAlert">
      <span class="msg">{{ alertMessage }}</span>
      <div class="close-btn" (click)="closeAlert()">
        <span class="fas fa-times"></span>
      </div>
    </div>

    <div class="modal-body">
      <form [formGroup]="roleForm">
        <div class="mb-3">
          <label for="role_name" class="form-label">Nombre del Rol</label>
          <input id="role_name" formControlName="role_name" type="text" class="form-control" />
          <div *ngIf="roleForm.get('role_name')?.hasError('required') && roleForm.get('role_name')?.touched" class="alert">
            El nombre del rol es requerido.
          </div>
          <div *ngIf="roleForm.get('role_name')?.hasError('adminNameNotAllowed') && roleForm.get('role_name')?.touched" class="alert">
            No se permite usar "ADMIN" como nombre de rol.
          </div>
          <div *ngIf="roleForm.get('role_name')?.hasError('duplicateName') && roleForm.get('role_name')?.touched" class="alert">
            Ya existe un rol con este nombre.
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <input id="description" formControlName="description" type="text" class="form-control" />
          <div *ngIf="roleForm.get('description')?.hasError('required') && roleForm.get('description')?.touched" class="alert">
            La descripción es requerida.
          </div>
          <div *ngIf="roleForm.get('description')?.hasError('maxlength') && roleForm.get('description')?.touched" class="alert">
            La descripción no puede exceder los 60 caracteres.
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="cancel-button btn" (click)="close()">Cancelar</button>
      <button type="button" class="add-role-button btn" (click)="save()">{{ isEditMode ? 'Guardar Cambios' : 'Agregar Rol' }}</button>
    </div>
  </div>
</div>
