<div class="header">
  <div class="header-path">
    {{ currentLabel }}
  </div>
  <div class="user-menu-container">
    <div class="switch-language">
      <input
        id="language-toggle"
        type="checkbox"
        [checked]="currentLanguage === 'en'"
        (change)="toggleLanguage()"
      />
      <label class="toggle-label" for="language-toggle"></label>
      <span class="toggle-option">EN</span>
      <span class="toggle-option">ES</span>
    </div>
    <div class="user-icon" (click)="toggleUserMenu()">
      <i class="fa-solid fa-user-circle"></i>
      <span [ngClass]="usernameStyle">
        {{ username }}
      </span>
    </div>
    <div class="dropdown-menu" *ngIf="userMenuOpen">
      <a (click)="viewProfile()">Ver Perfil</a>
      <a (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>
