@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.sidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Añade un sombreado suave */
  padding-top: 20px; /* Espacio superior */
}

.sidebar > img {
  width: 60%;
  max-height: 60%;
  margin-top: 20px;
}

.sidebar > h4 {
  align-self: start;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #9d9d9d;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.box {
  padding: 12px 20px;
  width: 90%;
  color: #333333;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s; /* Añade transiciones suaves */
  display: flex;
  align-items: center;
}

.box > i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #f1842c; /* Usa el color del login */
}

.box:hover {
  background-color: #f1842c; /* Color de hover */
  color: white;
  cursor: pointer;
}

.box.active {
  background-color: #f1842c;
  color: white;
}

.spacer {
  margin: 15px 0;
  width: 85%;
  height: 1px;
  background-color: #dedede;
}

.sub-box {
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.sub-box > i {
  margin-right: 8px;
  font-size: 1rem;
  color: #f1842c; /* Usa el color del login */
}

.sub-box:hover {
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.sub-box.active {
  background-color: #f1842c;
  color: white;
}

.language-selector {
  position: absolute;
  top: 10px;
  right: 10px;
}

.language-selector button {
  padding: 5px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 5px;
}

.language-selector button.selected {
  background-color: #f1842c;
  color: white;
  font-weight: bold;
}

.language-selector button:hover {
  text-decoration: underline;
}
