<div class="container">
  <header>
    <h1>{{ "search:search_criteria" | translate }}</h1>
  </header>
  <main>
    <div class="project-select">
      <label for="project">{{ "project:label" | translate }}</label>
      <select
        id="project"
        [(ngModel)]="selectedProject"
        (ngModelChange)="onProjectChange($event)"
        name="project"
      >
        <option value="1">{{ "project:option1" | translate }}</option>
        <option value="2">{{ "project:option2" | translate }}</option>
        <option value="3">{{ "project:option3" | translate }}</option>
      </select>
    </div>
    <!-- Formulario controlado por Formly -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-class">
      <!-- Campos dinámicos generados por Formly -->
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>
      <!-- Botones de Acción -->
      <div class="navigation">
        <button
          class="btn submit"
          type="submit"
          [disabled]="!form.valid"
          routerLink="/portal/search/result"
        >
          {{ "button:search" | translate }}
        </button>
        <button class="btn save" type="button" (click)="onSave()">
          {{ "button:save_search" | translate }}
        </button>
      </div>
    </form>
  </main>
</div>
