.master {
  display: flex; /* Esto permite el uso de flexbox */
  flex-direction: column; /* Los hijos se posicionan en columna */
  width: 100%;
  min-height: 70vh;
  padding-bottom: 20px; /* Esto es para mantener un espacio en el fondo de la pantalla */
}

.head{
  margin-top: 2%;
  margin-bottom: 3%;
}

.head > h1{
  color: #000000;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 750;
  font-style: normal;
}




.project-select{
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #969696;
  padding-left: 3%
}

.project-select > label{
  margin-right: auto;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 750;
  font-style: normal;

}

#project {
  display: flex;
  align-items: center; /* Asegura que el contenido esté centrado verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  text-align-last: center; /* Centra el texto en navegadores que lo soportan, como Chrome */
  width: 500px;
  height: 30px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 4px;
  border: #969696 1px solid;
}

/* Para asegurarte que el ícono de despliegue se vea adecuadamente */
#project::-ms-expand {
  display: none; /* Para IE y Edge */
}

/* Estilizando las opciones dentro del select */
#project option {
  text-align: center;
}

#project:hover {
  border-color: #888; /* Cambio de color de borde al pasar el mouse */
}

#project:focus {
  outline: none; /* Remueve el outline al enfocar */
  border-color: #000000; /* Cambio de color de borde al enfocar */
}

.form-class{
  margin-top: 2%;
  margin-bottom: 3%;
}

.attributeForm{
  display: flex;
  margin-top: 1%;
  padding-bottom: 5px;
  border-bottom: #000000 1px solid;
  padding-left: 3%

}

.attributeForm > label{
  margin-right: auto;
  color: #000000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 3%;
  gap: 20px;
}
.navigation button {
  padding: 10px 20px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .submit {
  border-radius: 8px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navigation .save {
  border-radius: 8px;
  border: #E8E8E8 1px solid;
  color: #000000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.form-class label {
  margin-right: 50px; /* Ajusta este valor según tus necesidades */
  display: inline-block; /* Asegura que el margin se aplique correctamente */
}


