/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attributeForm{
  display: flex;
  margin-top: 1%;
  padding-bottom: 5px;
  border-bottom: #000000 1px solid;
  padding-left: 3%
}

.attributeForm .form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 30px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 4px;
  border: 1px solid #969696;
}

.attributeForm label {
  color: #000000;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}
