/* Estilos Generales */
.projects-container {
  padding: 20px;
}

.projects-container i {
  margin-right: 5px !important;
}

/* Estilos para botón de Agregar */
.add-project-button {
  float: right;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.add-project-button:hover {
  background-color: #218838;
}

/* Estilos para buscador */
.search-container {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.search-input {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 10px 5px;
  background-size: 25px;
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.search-input:focus {
  outline: none;
  border-color: black;
}

/* Estilos para Tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

th {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Ajusta la columna de acciones */
td:last-child {
  width: 100px; /* Ajusta el ancho de la columna para hacerla más estrecha */
  text-align: center;
}

button {
  display: inline-block;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

button.edit {
  width: 36px;
  height: 36px;
  background-color: #343a40;
  color: white;
}

button.edit:hover {
  background-color: #23272b;
}

button.delete {
  width: 36px;
  height: 36px;
  background-color: #dc3545;
  color: white;
}

button.delete:hover {
  background-color: #c82333;
}

.actions-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0;
  gap: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
